@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

*{
  font-family: 'Playball', cursive;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.todo {
  width: 100%;
  background-color: bisque;
}
